body {
    font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 5px 15px 0 15px;
}

input:not(.arrow)::-webkit-outer-spin-button,
input:not(.arrow)::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]:not(.arrow) {
    -moz-appearance: textfield;
}

.dropdown-backdrop {
    display: none;
}

.nav-tabs>li>a {
    padding: 8px 15px;
}

label.btn input[type="checkbox"] {
    display: none;
}

label.btn input[type="checkbox"]+.fa {
    opacity: 0.1;
}

label.btn input[type="checkbox"]:checked+.fa {
    opacity: 1;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
    background-color: #f5f5f5;
}

.box {
    margin-bottom: 10px;
    padding: 0 5px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    display: inline-block;
    border-radius: 3px;
    margin-right: 5px;
}

.box>.btn,
.box>.inline-wrapper,
.box>.input-group {
    margin: 3px 0;
}

.inline-wrapper,
.select-wrapper {
    display: inline-block;
}

.header-wrapper {
    margin-bottom: 5px;
}

.header-wrapper:not(:first-child) {
    margin-top: -5px;
}

.header-wrapper .btn,
.header-wrapper>select,
.header-wrapper .input-group,
.header-wrapper>input.form-control {
    margin-bottom: 5px;
}

.header-wrapper .input-group .btn {
    margin-bottom: 0;
}

#input-recipe-price {
    width: 95px;
}

.search-box input.form-control {
    width: 150px;
}

.loading-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .4);
    z-index: 30;
}

.loading-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 50;
    color: #fff;
}

.loading-text h1 {
    animation: pulse 2.5s linear infinite;
}

.loading-text a {
    color: #fff;
}

@keyframes pulse {
    0% {
        transform: scale(1, 1);
        opacity: .5;
    }

    50% {
        transform: scale(1.1, 1);
        opacity: 1;
    }

    100% {
        transform: scale(1, 1);
        opacity: .5;
    }
}

.paginationjs-pages ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.paginationjs-pages li {
    display: inline-block;
}

.paginationjs-pages,
.paginationjs-nav {
    display: inline-block;
}

.paginationjs-pages li a {
    margin-right: 10px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.paginationjs-pages li.disabled a {
    color: #ccc;
}

.btn-cal-results-cal .glyphicon {
    top: 2px;
}

.pane-cal-sub .header-wrapper {
    margin-top: 10px;
}

#pane-cal-optimal-results.pane-cal-sub .header-wrapper,
#pane-cal-settings.pane-cal-sub .header-wrapper {
    margin-top: 0;
}

#pane-cal-optimal-results {
    position: relative;
    min-height: 60vh;
}

.cal-results-progress {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    z-index: 100;
}

.cal-results-progress .progress {
    position: relative;
}

.cal-results-progress .progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
}

.cal-results-progress .progress-bar {
    -webkit-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
}

.tab-content {
    padding-top: 5px;
}

.pane-cal .nav-tabs {
    display: none;
}

.pane-cal #pane-cal-recipes .select-info {
    display: none;
}

.pane-cal.admin #pane-cal-recipes .select-info {
    display: inline-block;
    margin-left: 5px;
}

.admin-only {
    display: none;
}

.pane-cal.admin .admin-only {
    display: inline-block;
}

.table-hover tbody tr.selected:hover td {
    background-color: #eee;
}

table.dataTable tbody td {
    outline: none;
}

table.dataTable tbody td.selected,
table.dataTable tbody th.selected,
table.dataTable tbody tr.selected {
    color: #333;
}

table.dataTable tbody>tr.selected,
table.dataTable tbody>tr>.selected {
    background-color: inherit;
}

.cal-custom-item {
    margin-bottom: 20px;
}

.rule-desc {
    text-align: center;
}

.rule-desc .item {
    margin-bottom: 3px;
}

.rule-desc .label {
    font-size: 12px;
    margin-left: 5px;
    margin-bottom: 2px;
    display: inline-block;
}

.selected-sum-wrapper {
    text-align: center;
    color: #337ab7;
}

.selected-sum {
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
}

.btn-resize {
    cursor: pointer;
}

.box .input-group,
.header-wrapper .input-group {
    display: inline-table;
    vertical-align: middle;
}

.box .input-group .form-control,
.box .input-group .input-group-addon,
.box .input-group .input-group-btn,
.header-wrapper .input-group .input-group-addon,
.header-wrapper .input-group .input-group-btn {
    width: auto;
}

.form-control.input-addition {
    width: 60px;
    text-align: center;
}

.bootstrap-select>select.mobile-device:focus+.dropdown-toggle,
.bootstrap-select .dropdown-toggle:focus {
    outline: none !important;
}

.bootstrap-select.show-tick .dropdown-menu li a span.text {
    max-width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bootstrap-select .dropdown-menu {
    margin-top: -2px;
    z-index: 1701;
}

.header-wrapper .bootstrap-select .dropdown-menu {
    margin-top: -5px;
}

.header-wrapper .input-group .bootstrap-select .dropdown-menu {
    margin-top: 0;
}

.bootstrap-select .dropdown-menu li a {
    color: #333;
}

.bootstrap-select .dropdown-menu li a.selected {
    background-color: #aaa;
}

.bootstrap-select .dropdown-menu input.form-control {
    border-radius: 4px;
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: inherit;
}

.bootstrap-select>.dropdown-toggle.bs-placeholder.btn-info,
.bootstrap-select>.dropdown-toggle.bs-placeholder.btn-info:hover,
.bootstrap-select>.dropdown-toggle.bs-placeholder.btn-info:focus,
.bootstrap-select>.dropdown-toggle.bs-placeholder.btn-info:active {
    color: #fff;
}

.table-select-picker .bs-donebutton,
.selected-item-wrapper .select-picker .bs-donebutton {
    display: none;
}

.bs-actionsbox .btn-group button:only-child {
    width: 100%;
}

.btn-group .btn.active {
    background-color: #337ab7;
    color: #fff;
}

.selected-item-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1130px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    align-items: center;
}

.selected-item {
    display: flex;
    flex-direction: row;
    font-size: 13px;
    margin: 4px 0;
}

.selected-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    position: relative;
    text-align: center;
    border: 1px solid #ddd;
    cursor: pointer;
    -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    border-radius: 4px;
    margin: 0 2px;
    padding: 0 1px;
}

.selected-box:first-child {
    margin-right: 2px;
}

.selected-box:last-child {
    margin-left: 2px;
}

.chef-box,
.equip-box,
.condiment-box {
    width: 115px;
    height: 140px;
}

.recipe-box {
    width: 250px;
    height: 140px;
}

.chef-box .content .name,
.equip-box .content .name,
.condiment-box .content .name {
    font-weight: bold;
    color: #337ab7;
}

.recipe-box .recipe-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 1;
    background-color: inherit;
    border-radius: 4px;
}

.recipe-box .recipe-box-1 {
    width: 50%;
    height: 140px;
}

.recipe-box.no-details .recipe-box-1 {
    width: 100%;
}

.recipe-box .recipe-name {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    color: #337ab7;
    height: 30px;
}

.recipe-box .recipe-qec {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap
}

.recipe-box .recipe-result {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50px;
    font-size: 11px;
}

.recipe-box .recipe-result .score {
    font-size: 12px;
}

.recipe-box .red {
    color: #ff0000;
    font-weight: bold;
}

.recipe-box .recipe-box-2 {
    width: 50%;
    height: 140px;
    font-size: 12px;
    text-align: left;
}

.recipe-box.no-details .recipe-box-2 {
    display: none;
}

.recipe-box .recipe-box-2 .skill {
    text-align: center;
    white-space: nowrap;
}

.recipe-box .recipe-box-2 .skill span {
    padding-right: 10px;
}

.recipe-box .recipe-box-2 .material span {
    white-space: nowrap;
    width: 50%;
    display: inline-block;
}

.recipe-box .recipe-box-2 .rank {
    margin-left: -30px;
    text-align: center;
}

.recipe-box .recipe-box-2 .add span {
    white-space: nowrap;
    width: 50%;
    display: inline-block;
}

.recipe-box .recipe-quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    cursor: pointer;
}

.recipe-box .recipe-quantity .form-control {
    width: 40px;
    font-size: 13px;
    background-color: transparent;
    box-shadow: none;
    padding: 0;
    border: none;
    text-align: center;
    line-height: 25px;
    height: 25px;
    font-weight: bold;
    color: #337ab7;
}

.recipe-box .recipe-quantity .available,
.recipe-box .recipe-quantity .max {
    font-size: 12px;
}

.recipe-box .recipe-quantity .available {
    color: #ff0000;
    font-weight: bold;
}

label.chk-label {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 0;
}

label.chk-label input[type="checkbox"] {
    display: none;
}

label.chk-label input[type="checkbox"]+span {
    color: #bbb;
    font-size: 12px;
    border: 1px dashed #888;
    padding: 0 2px;
    position: relative;
    background: linear-gradient(to right top, transparent 47.75%, #333 49.5%, #333 50.5%, transparent 52.25%);
}

label.chk-label input[type="checkbox"]:checked+span {
    color: #888;
    border-color: #fff;
    background: none;
}

.recipe-box .recipe-ex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

#pane-cal-custom.banquet .condiment-box {
    display: none;
}

#pane-cal-custom.banquet .recipe-box .recipe-condiment {
    display: none;
}

.selected-item .select-picker {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
}

.selected-item .select-picker .bootstrap-select {
    max-width: 100%;
}

.selected-item .select-picker .bootstrap-select>.dropdown-toggle {
    display: none;
}

.editing {
    background-color: #5bc0de !important;
}

.table-select-picker {
    position: fixed;
    z-index: 100;
}

.table-select-picker .bootstrap-select>.dropdown-toggle {
    display: none;
}

#input-export-import {
    width: 100% !important;
    min-height: 50vh;
}

#input-import-bcjh-cloud {
    width: 200px;
}

#input-import-bcjh-text {
    width: 100% !important;
    min-height: 20vh;
}

#input-cal-decoration {
    width: 65px;
}

#input-cal-min-score {
    width: 100px;
}

#input-cal-thread {
    width: 50px;
}

.cal-settings .input-group .form-control {
    width: 55px;
}

.optimal-result table tr.active {
    text-align: center;
}

.btn-cal-set-custom {
    margin-left: 20px;
}

.main-function {
    position: relative;
}

.main-nav {
    position: relative;
    margin-right: 40px;
}

#menu-modal .main-nav {
    margin-right: 10px;
}

#setting-btn {
    position: absolute;
    top: 0;
    right: 0;
}

.setting-tip {
    padding-left: 5px;
}

.modal-header .modal-title {
    color: #337ab7;
    font-size: 16px;
}

#menu-modal .close {
    position: absolute;
    top: 5px;
    right: 5px;
}

.main-function .tooltip-inner {
    background-color: rgba(0, 0, 0, .6);
}

td.td-chef-icon {
    width: 50px;
    height: 50px;
}

td.td-recipe-icon {
    width: 40px;
    height: 40px;
}

td.td-equip-icon {
    width: 35px;
}

td.td-decoration-icon {
    width: 64px;
}

td.td-condiment-icon {
    width: 35px;
}

table.history-table tr td {
    border: 0px;
}

table.history-table tr td.history-dt {
    width: 80px;
    padding-left: 0px;
}

.select-file {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.select-file input[type="file"] {
    position: absolute;
    opacity: 0;
    filter: alpha(opacity=0);
    left: 0;
    top: 0;
    font-size: 100px;
}

.inline-div {
    display: inline-block;
    vertical-align: top;
}

.import-msg {
    color: #337ab7;
    background-color: #d9edf7;
    border-color: #bce8f1;
    padding: 6px 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-left: 10px;
}

.alert-version {
    padding: 8px 30px 8px 20px;
    margin-bottom: 5px;
    text-align: center;
}

.pane-materials th {
    text-align: center;
    border-bottom-width: 1px;
}

.pane-materials td {
    text-align: center;
}

.pane-materials tbody tr:last-child {
    background: #eee;
    font-weight: bold;
    color: #337ab7;
}

#input-material-skill {
    width: 60px;
}

#input-material-addition {
    width: 60px;
}

#decoration-sum {
    text-align: center;
    color: #337ab7;
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
    margin-bottom: 10px;
    min-height: 1em;
}

#select-partial-ultimate .btn-info {
    background-color: #f0ad4e;
    border-color: #eea236;
}

.warning-info {
    line-height: 20px;
    text-align: center;
}

.quest-warning {
    border-radius: .15em;
    padding: 6px 8px 4px;
    display: inline-block;
    font-weight: bold;
}

.quest-warning {
    color: #fff;
    background-color: #5bc0de;
}

.dropdown-item .text .name {
    font-weight: bold;
    color: #555;
}

.dropdown-item .text .subtext,
.dropdown-item .text .score,
.dropdown-item .text .total,
.dropdown-item .text .skilltext,
.dropdown-item .text .available,
.dropdown-item .text .skill,
.dropdown-item .text .combo {
    font-size: 11px;
    color: #777;
    padding-left: 5px;
}

.dropdown-item .text .available {
    color: #55aaff;
}

.dropdown-menu>.active>a.dropdown-item .text .name,
.dropdown-menu>.active>a.dropdown-item .text .subtext,
.dropdown-menu>.active>a.dropdown-item .text .score,
.dropdown-menu>.active>a.dropdown-item .text .total,
.dropdown-menu>.active>a.dropdown-item .text .skilltext,
.dropdown-menu>.active>a.dropdown-item .text .available,
.dropdown-menu>.active>a.dropdown-item .text .skill {
    color: #fff;
}

.dropdown-item .text .total {
    font-style: italic;
}

.dropdown-item .text .skilltext span {
    padding-left: 2px;
}

li.disabled .dropdown-item .text span {
    font-weight: normal !important;
    color: #ccc !important;
}

.warning-skill.dropdown-item .text .name,
.warning-skill.dropdown-item .text .skill {
    color: #ff6666;
}

.form-control {
    height: 35px;
    display: inline-block;
    vertical-align: middle;
}

.form-control.input-sm {
    height: 30px;
}

.header-wrapper .btn {
    height: 35px;
}

.btn-group-sm .btn {
    height: 30px;
}

.child-inner {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    white-space: normal;
}

.child-inner .child-key {
    display: inline-block;
    font-weight: bold;
    vertical-align: top;
}

.child-inner .child-value {
    display: inline-block;
    padding-right: 5px;
}

.input-group-last>.btn {
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    margin-left: -2px !important;
}

.input-group-mid>.btn {
    border-radius: 0 !important;
    margin-left: -1px !important;
}

.input-group-first .bootstrap-select>.dropdown-toggle {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.input-group-last .bootstrap-select>.dropdown-toggle {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    margin-left: -1px !important;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
}

a:focus {
    outline: none;
}

table.dataTable thead {
    white-space: nowrap;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
    right: 5px;
}

table.dataTable thead>tr>th.sorting_asc,
table.dataTable thead>tr>th.sorting_desc,
table.dataTable thead>tr>th.sorting,
table.dataTable thead>tr>td.sorting_asc,
table.dataTable thead>tr>td.sorting_desc,
table.dataTable thead>tr>td.sorting {
    padding-right: 20px;
}

@media (max-width: 991px) {
    table.dataTable {
        white-space: nowrap;
    }
}

.rank-done {
    color: #999;
}

td.rarity {
    font-size: 12px;
}

.modal-open {
    padding-right: 0 !important;
    overflow: auto;
}

div.dataTables_scrollBody {
    border-left: none !important;
}

table.dataTable.table-bordered.dtfc-has-left,
div.dataTables_scroll.dtfc-has-left table.table-bordered {
    border-left: 1px solid #ddd;
}

.dataTables_scrollHead table.dataTable {
    margin-top: 0 !important;
}

.table-top {
    margin-bottom: 2px;
}

.table-top .left {
    float: left;
}

.table-top .right {
    float: right;
}

div.dataTables_wrapper .table-top div.dataTables_info {
    padding-top: 0;
    line-height: 30px;
}

.toggle.btn {
    min-width: initial;
    min-height: initial;
}

.toggle.btn.btn-sm {
    min-width: 50px;
    min-height: 30px;
}

.pane-footer {
    height: 40px;
}

/* fixedHeader */
.dataTables_scrollHeadInner {
    height: auto !important;
}

/* fixedColumns */
tr.odd td,
tr.selected td {
    background-color: #fff;
}

div.dataTables_scrollHeadInner table.table-bordered tr th:first-child {
    border-left: none !important;
}

div.dtfc-right-top-blocker {
    background-color: transparent !important;
}

/* select.bootstrap */
table.dataTable tr.selected td.select-checkbox:after,
table.dataTable tr.selected th.select-checkbox:after {
    content: '\2714';
    font-size: 14px;
    margin-top: -11px;
}

/* bootbox */
.bootbox.modal .modal-footer {
    border-top: none;
}

.bootbox.modal .bootbox-body {
    margin-top: 20px;
}

/* collapse btn */
.td-expend .glyphicon:before {
    content: "\002b";
}

.parent .td-expend .glyphicon:before {
    content: "\2212";
}

@media (max-width: 767px) {
    body {
        font-size: 12px;
    }

    .nav-tabs>li>a {
        padding: 8px;
    }

    .form-control {
        font-size: 12px;
        height: 30px;
    }

    .btn {
        height: 30px !important;
        font-size: 12px;
    }

    .input-group-addon {
        font-size: 12px;
    }

    .bootstrap-select .dropdown-menu li a span.text,
    .bootstrap-select.show-tick .dropdown-menu li a span.text {
        max-width: 200px;
    }

    .selected-item-wrapper .bootstrap-select .dropdown-menu li a span.text {
        max-width: 300px;
    }

    .table-select-picker .bs-donebutton,
    .selected-item-wrapper .select-picker .bs-donebutton {
        display: block;
    }

    #mobile-menu-btn {
        position: absolute;
        top: 5px;
        left: 0;
        z-index: 5;
    }

    #setting-btn {
        position: absolute;
        top: 5px;
        z-index: 5;
    }

    .table-top {
        padding-left: 40px;
        padding-right: 40px;
    }

    .pane-materials,
    .pane-export-import,
    .pane-info,
    #pane-cal-settings,
    #pane-cal-rules,
    #pane-cal-optimal-results {
        padding-top: 35px;
    }

    /* scrollbar */
    ::-webkit-scrollbar {
        width: 6px
    }

    ::-webkit-scrollbar:horizontal {
        height: 6px
    }

    ::-webkit-scrollbar-thumb {
        background: #ccc
    }
}

@media (max-width: 1169px) {
    .selected-sum {
        font-size: 13px;
    }

    .selected-item-wrapper {
        flex-direction: row;
        max-width: 600px;
    }

    .selected-item {
        flex-direction: column;
        margin: 0;
        width: 33%;
        min-width: 110px;
    }

    .selected-box {
        margin-top: 4px;
    }

    .chef-box,
    .equip-box,
    .condiment-box {
        width: auto;
    }

    .chef-box {
        height: 80px;
    }

    .equip-box {
        height: 80px;
    }

    .condiment-box {
        height: 60px;
    }

    .recipe-box {
        width: auto;
        height: 240px;
        flex-direction: column;
    }

    .recipe-box.no-details {
        height: 110px;
    }

    .recipe-box .recipe-qec {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .recipe-box .recipe-quantity {
        width: auto;
        order: 2;
    }

    .recipe-box .recipe-quantity .available {
        display: none;
    }

    .recipe-box .recipe-ex {
        order: 1;
    }

    .recipe-box .recipe-condiment {
        order: 3;
    }

    label.chk-label input[type="checkbox"]+span span {
        display: none;
    }

    .recipe-box .recipe-box-1 {
        height: 110px;
    }

    .recipe-box .recipe-box-1,
    .recipe-box .recipe-box-2 {
        width: 100%;
    }

    .recipe-box .recipe-box-2 {
        font-size: 11px;
    }

    .recipe-box .recipe-box-2 .rank {
        margin-left: 0;
    }

    .recipe-box .recipe-box-2 .material {
        max-width: 110px;
        margin: auto;
    }

    .recipe-box .recipe-box-2 .add {
        max-width: 110px;
        margin: auto;
    }

    .selected-item .select-picker {
        position: fixed;
        left: 10px;
        top: 35px;
        z-index: 2;
    }

    body.m-no-scroll {
        overflow-y: hidden;
    }
}