body {
    margin: 10px 20px;
}

label.btn input[type="checkbox"] {
    display: none;
}

label.btn input[type="checkbox"]+.fa {
    opacity: 0.1;
}

label.btn input[type="checkbox"]:checked+.fa {
    opacity: 1;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
    background-color: #eee;
}

.box {
    margin-bottom: 10px;
    padding: 0 5px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    display: inline-block;
    border-radius: 3px;
}

.box:not(:first-child) {
    margin-left: 5px;
}

.box>.btn,
.box>.chk-show-chef-wrapper,
.box>.input-group {
    margin: 3px 0;
}

.box1 {
    margin-right: 20px;
}

.chk-show-chef-wrapper {
    display: inline-block;
}

#input-price {
    width: 60px;
}

#input-guest-rune {
    width: 150px;
}

.search-box {
    text-align: right;
}

.search-box label {
    font-weight: 400;
    white-space: nowrap;
    text-align: left;
}

.search-box input {
    margin-left: .5em;
    display: inline-block;
    width: auto;
}

.row1 {
    position: relative;
}

.info {
    position: absolute;
    right: 0;
    top: 5px;
    font-size: 15px;
}

.info a {
    color: #999;
    cursor: pointer;
}

.info a:hover {
    color: #777;
}

.modal-center-wrap {
    display: table;
    height: 100%;
    width: 100%;
    pointer-events: none;
}

.modal-center {
    display: table-cell;
    vertical-align: middle;
    pointer-events: none;
}

.modal-content {
    width: inherit;
    height: inherit;
    margin: 0 auto;
    pointer-events: all;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.loading h1 {
    color: #333;
    animation: pulse 2.5s linear infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1, 1);
        opacity: .5;
    }
    50% {
        transform: scale(1.1, 1);
        opacity: 1;
    }
    100% {
        transform: scale(1, 1);
        opacity: .5;
    }
}

.paginationjs-pages ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.paginationjs-pages li {
    display: inline-block;
}

.paginationjs-pages,
.paginationjs-nav {
    display: inline-block;
}

.paginationjs-pages li a {
    margin-right: 10px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.paginationjs-pages li.disabled a {
    color: #ccc;
}