body {
    margin: 10px 20px;
}

label.btn input[type="checkbox"] {
    display: none;
}

label.btn input[type="checkbox"]+.fa {
    opacity: 0.1;
}

label.btn input[type="checkbox"]:checked+.fa {
    opacity: 1;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
    background-color: #eee;
}

.box {
    margin-bottom: 10px;
    padding: 0 5px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    display: inline-block;
    border-radius: 3px;
    margin-right: 5px;
}

.box>.btn,
.box>.inline-wrapper,
.box>.input-group {
    margin: 3px 0;
}

.inline-wrapper {
    display: inline-block;
}

.header-wrapper {
    margin-bottom: 5px;
}

.header-wrapper:not(:first-child) {
    margin-top: -5px;
}

.header-wrapper .btn,
.header-wrapper>select,
.header-wrapper .input-group,
.header-wrapper>input.form-control {
    margin-bottom: 5px;
}

.header-wrapper .input-group .btn {
    margin-bottom: 0;
}

#input-recipe-price {
    width: 95px;
}

.search-box {
    text-align: right;
}

.search-box label {
    font-weight: 400;
    white-space: nowrap;
    text-align: left;
}

.search-box input.form-control {
    margin-left: .5em;
    display: inline-block;
    width: 150px;
}

.loading-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .4);
    z-index: 30;
}

.loading-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 50;
    color: #fff;
}

.loading-text h1 {
    animation: pulse 2.5s linear infinite;
}

.loading-text a {
    color: #fff;
}

@keyframes pulse {
    0% {
        transform: scale(1, 1);
        opacity: .5;
    }

    50% {
        transform: scale(1.1, 1);
        opacity: 1;
    }

    100% {
        transform: scale(1, 1);
        opacity: .5;
    }
}

.paginationjs-pages ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.paginationjs-pages li {
    display: inline-block;
}

.paginationjs-pages,
.paginationjs-nav {
    display: inline-block;
}

.paginationjs-pages li a {
    margin-right: 10px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.paginationjs-pages li.disabled a {
    color: #ccc;
}

.btn-cal-results-cal .glyphicon {
    top: 2px;
}

.pane-cal-results {
    position: relative;
    min-height: 85vh;
}

.cal-results-progress {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    z-index: 100;
}

.cal-results-progress .progress {
    position: relative;
}

.cal-results-progress .progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
}

.cal-results-progress .progress-bar {
    -webkit-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
}

.tab-content {
    padding-top: 10px;
}

#pane-cal .tab-content {
    padding-top: 0px;
}

#pane-cal .nav-tabs {
    display: none;
}

#pane-cal.admin .tab-content {
    padding-left: 10px;
    padding-right: 10px;
}

#pane-cal.admin .nav-tabs {
    display: table-cell;
}

#pane-info {
    padding-left: 15px;
}

.table-hover tbody tr.selected:hover td {
    background-color: #eee;
}

table.dataTable tbody td {
    outline: none;
}

table.dataTable tbody td.selected,
table.dataTable tbody th.selected,
table.dataTable tbody tr.selected {
    color: #333;
}

table.dataTable tbody>tr.selected,
table.dataTable tbody>tr>.selected {
    background-color: inherit;
}

.selected-sum {
    color: #337ab7;
    font-weight: bold;
    font-size: 20px;
}

.selected-sum-2 {
    height: 12px;
    font-size: 12px;
    padding-left: 2px;
}

.box .input-group {
    display: inline-table;
    vertical-align: middle;
}

.box .input-group .form-control,
.box .input-group .input-group-addon,
.box .input-group .input-group-btn {
    width: auto;
}

.tabs-left {
    display: table;
    width: 100%;
}

.tabs-left>.nav-tabs {
    display: table-cell;
    width: 90px;
    border-bottom: 0;
    border-right: 1px solid #ddd;
}

.tabs-left>.nav-tabs>li {
    float: none;
    text-align: center;
}

.tabs-left>.nav-tabs>li>a {
    margin-bottom: 3px;
    margin-right: -1px;
    border-radius: 4px 0 0 4px;
}

.tabs-left>.nav-tabs>li>a:hover,
.tabs-left>.nav-tabs>li>a:focus {
    border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left>.nav-tabs .active>a,
.tabs-left>.nav-tabs .active>a:hover,
.tabs-left>.nav-tabs .active>a:focus {
    border-color: #ddd transparent #ddd #ddd;
    border-right-color: #ffffff;
}

.tabs-left>.tab-content {
    display: table-cell;
}

.form-control.input-addition {
    width: 60px;
    text-align: center;
}

.cal-td-input-addition .form-control {
    width: 60px;
}

.cal-td-input-quantity .form-control {
    width: 60px;
}

.bootstrap-select>select.mobile-device:focus+.dropdown-toggle,
.bootstrap-select .dropdown-toggle:focus {
    outline: none !important;
}

.bootstrap-select.show-tick .dropdown-menu li a span.text {
    max-width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bootstrap-select .dropdown-menu {
    margin-top: -5px;
}

.header-wrapper .input-group .bootstrap-select .dropdown-menu {
    margin-top: 0;
}

.bootstrap-select .dropdown-menu li a {
    color: #333;
}

.bootstrap-select .dropdown-menu li a.selected {
    background-color: #ddd;
}

.bootstrap-select .dropdown-menu input.form-control {
    border-radius: 4px;
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: inherit;
}

.bootstrap-select>.dropdown-toggle.bs-placeholder.btn-info,
.bootstrap-select>.dropdown-toggle.bs-placeholder.btn-info:hover,
.bootstrap-select>.dropdown-toggle.bs-placeholder.btn-info:focus,
.bootstrap-select>.dropdown-toggle.bs-placeholder.btn-info:active {
    color: #fff;
}

.bs-actionsbox .btn-group button:only-child {
    width: 100%;
}

#cal-self-select-table td {
    height: 20px;
}

#cal-self-select-table .cal-td-quantity .form-control {
    width: 60px;
}

#cal-self-select-table .cal-td-chef-name,
#cal-self-select-table .cal-td-recipe-name,
#cal-self-select-table .cal-td-equip-name,
#cal-self-select-table .cal-td-quantity {
    background-color: rgba(0, 0, 0, 0.05);
}

#cal-self-select-table .cal-td-chef-name,
#cal-self-select-table .cal-td-recipe-name,
#cal-self-select-table .cal-td-equip-name {
    width: 125px;
}

#input-export-import {
    width: 100% !important;
    min-height: 50vh;
}

#pane-cal-recipes-results {
    margin-top: 10px;
}

#input-cal-decoration {
    width: 65px;
}

#input-cal-min-score {
    width: 100px;
}

#input-cal-thread {
    width: 50px;
}

#cal-ultimate .input-group .form-control {
    width: 55px;
}

.main-function {
    position: relative;
}

.main-nav {
    position: relative;
}

#setting-btn {
    position: absolute;
    top: 2px;
    right: 2px;
}

.setting-tip {
    padding-left: 5px;
}

.modal-header .modal-title {
    color: #337ab7;
    font-size: 16px;
}

.main-function .tooltip-inner {
    background-color: rgba(0, 0, 0, .6);
}

td.td-chef-icon {
    width: 50px;
    height: 50px;
}

td.td-recipe-icon {
    width: 40px;
    height: 40px;
}

td.td-equip-icon {
    width: 35px;
    height: 35px;
}

td.td-decoration-icon {
    width: 64px;
    height: 64px;
}

table.history-table tr td {
    border: 0px;
}

table.history-table tr td.history-dt {
    width: 80px;
    padding-left: 0px;
}

.select-file {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.select-file input[type="file"] {
    position: absolute;
    opacity: 0;
    filter: alpha(opacity=0);
    left: 0;
    top: 0;
    font-size: 100px;
}

.inline-div {
    display: inline-block;
    vertical-align: top;
}

.import-msg {
    color: #337ab7;
    background-color: #d9edf7;
    border-color: #bce8f1;
    padding: 6px 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-left: 10px;
}

.alert-version {
    padding: 8px 30px 8px 20px;
    text-align: center;
}

#material-table th {
    text-align: center;
    border-bottom-width: 1px;
}

#material-table td {
    text-align: center;
}

#material-table tbody tr:last-child {
    background: #eee;
    font-weight: bold;
    color: #337ab7;
}

#input-material-skill {
    width: 60px;
}

#input-material-addition {
    width: 60px;
}

#decoration-sum {
    text-align: center;
    color: #337ab7;
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
    margin-bottom: 10px;
    min-height: 1em;
}

.partial-warning,
.quest-warning {
    border-radius: .15em;
    padding: 6px 8px 4px;
    display: inline-block;
    font-weight: bold;
}

.partial-warning {
    color: #fff;
    background-color: #ff5353;
}

.quest-warning {
    color: #fff;
    background-color: #5bc0de;
}

.option-warning {
    color: #ff5353 !important;
}

.option-sub-warning .text-muted {
    color: #ff5353 !important;
}

.form-control {
    height: 35px;
}

.form-control.input-sm {
    height: 30px;
}

.header-wrapper .btn {
    height: 35px;
}

.btn-group-sm .btn {
    height: 30px;
}

.child-inner {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
}

.child-inner .child-key {
    display: inline-block;
    font-weight: bold;
    vertical-align: top;
    padding: 5px 2px 5px 5px;
}

.child-inner .child-value {
    display: inline-block;
    padding: 5px 2px;
}

.input-group-last>.btn {
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    margin-left: -2px !important;
}

.input-group-mid>.btn {
    border-radius: 0 !important;
    margin-left: -1px !important;
}

.input-group-first .bootstrap-select>.dropdown-toggle {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.input-group-last .bootstrap-select>.dropdown-toggle {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    margin-left: -1px !important;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
}

a:focus {
    outline: none;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
    right: 5px;
}

table.dataTable thead>tr>th.sorting_asc,
table.dataTable thead>tr>th.sorting_desc,
table.dataTable thead>tr>th.sorting,
table.dataTable thead>tr>td.sorting_asc,
table.dataTable thead>tr>td.sorting_desc,
table.dataTable thead>tr>td.sorting {
    padding-right: 20px;
}

.alert {
    margin-bottom: 5px;
}